<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contactFormula ANY>
<!ATTLIST contactFormula id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT table ANY>
<!ATTLIST table id ID #REQUIRED>
<!ELEMENT newsOverview ANY>
<!ATTLIST newsOverview id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT lucio ANY>
<!ATTLIST lucio id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="410d0183-4e6b-44f6-890f-62e1c784673a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-25T21:43:45" updateDate="2016-12-26T20:09:22" nodeName="Home Page" urlName="home-page" path="-1,1056" isDoc="" nodeType="1055" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1054" nodeTypeAlias="home">
    <siteName><![CDATA[Umbraco Test Site]]></siteName>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <bodyText><![CDATA[<p>Home Page</p>]]></bodyText>
    <pageImage><![CDATA[1080,1081,1082]]></pageImage>
    <pageUpload><![CDATA[/media/1006/5.jpg]]></pageUpload>
    <table id="1059" key="55a81919-d2bf-4a6e-8181-5d8814d2aa49" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2016-12-25T23:07:28" updateDate="2016-12-26T05:36:05" nodeName="List of players" urlName="list-of-players" path="-1,1056,1059" isDoc="" nodeType="1058" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1057" nodeTypeAlias="table">
      <siteName><![CDATA[List of players]]></siteName>
      <pageTitle><![CDATA[List of players]]></pageTitle>
    </table>
    <newsOverview id="1062" key="9606ddc6-10ea-4168-875a-dad9516a5ba9" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2016-12-25T23:49:00" updateDate="2016-12-26T05:36:05" nodeName="News" urlName="news" path="-1,1056,1062" isDoc="" nodeType="1061" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1060" nodeTypeAlias="newsOverview">
      <pageTitle><![CDATA[News]]></pageTitle>
      <newsOverviewBodyText><![CDATA[<p>This is the page where all our news items will be displayed</p>]]></newsOverviewBodyText>
      <news id="1066" key="5d945d35-6ce3-4095-ac6f-b0aa00b602f6" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2016-12-25T23:58:31" updateDate="2016-12-26T05:36:05" nodeName="Moja prva vijest" urlName="moja-prva-vijest" path="-1,1056,1062,1066" isDoc="" nodeType="1065" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1064" nodeTypeAlias="news">
        <pageTitle><![CDATA[Moja prva vijest]]></pageTitle>
        <newsText><![CDATA[<p>ovo je moja prva preksasna vijest</p>]]></newsText>
      </news>
    </newsOverview>
    <lucio id="1069" key="19dc8658-34d1-4e91-8807-cf703e0c1f8a" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2016-12-26T02:11:04" updateDate="2016-12-26T05:36:05" nodeName="Lucio Pulin" urlName="lucio-pulin" path="-1,1056,1069" isDoc="" nodeType="1068" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1067" nodeTypeAlias="lucio">
      <pageTitle><![CDATA[Lucio Pulin]]></pageTitle>
      <pageImage><![CDATA[/media/1001/14895592_1467343349946003_1094442107_o.jpg]]></pageImage>
      <bodyText><![CDATA[<p>bla bla bla</p>]]></bodyText>
    </lucio>
    <contactPage id="1079" key="734ee237-a5db-472e-91ae-a24b03058475" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2016-12-26T04:20:51" updateDate="2016-12-26T05:36:05" nodeName="Contact Us" urlName="contact-us" path="-1,1056,1079" isDoc="" nodeType="1076" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1075" nodeTypeAlias="contactPage">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <contactFormula id="1090" key="61a20a76-41d4-4f51-8877-55293b8995f7" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2016-12-27T13:32:57" updateDate="2016-12-27T13:32:57" nodeName="Sebastian Sinožić - 27-12-2016 13:32" urlName="sebastian-sinožić-27-12-2016-1332" path="-1,1056,1079,1090" isDoc="" nodeType="1078" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1077" nodeTypeAlias="contactFormula">
        <emailFrom><![CDATA[seba7964@gmail.com]]></emailFrom>
        <contactMessage><![CDATA[dffdssdfsfdfd]]></contactMessage>
        <contactName><![CDATA[Sebastian Sinožić]]></contactName>
      </contactFormula>
    </contactPage>
  </home>
</root>