<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsOverview ANY>
<!ATTLIST newsOverview id ID #REQUIRED>
<!ELEMENT table ANY>
<!ATTLIST table id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="410d0183-4e6b-44f6-890f-62e1c784673a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-25T21:43:45" updateDate="2016-12-25T21:43:45" nodeName="Home Page" urlName="home-page" path="-1,1056" isDoc="" nodeType="1055" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1054" nodeTypeAlias="home">
    <siteName><![CDATA[Umbraco Test Site]]></siteName>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <table id="1059" key="55a81919-d2bf-4a6e-8181-5d8814d2aa49" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2016-12-25T23:07:28" updateDate="2016-12-25T23:07:28" nodeName="List of players" urlName="list-of-players" path="-1,1056,1059" isDoc="" nodeType="1058" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1057" nodeTypeAlias="table">
      <siteName><![CDATA[List of players]]></siteName>
      <pageTitle><![CDATA[List of players]]></pageTitle>
    </table>
    <newsOverview id="1062" key="9606ddc6-10ea-4168-875a-dad9516a5ba9" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2016-12-25T23:49:00" updateDate="2016-12-25T23:49:00" nodeName="News" urlName="news" path="-1,1056,1062" isDoc="" nodeType="1061" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1060" nodeTypeAlias="newsOverview">
      <pageTitle><![CDATA[News]]></pageTitle>
      <newsOverviewBodyText><![CDATA[<p>This is the page where all our news items will be displayed</p>]]></newsOverviewBodyText>
      <news id="1066" key="5d945d35-6ce3-4095-ac6f-b0aa00b602f6" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2016-12-25T23:58:31" updateDate="2016-12-25T23:58:31" nodeName="Moja prva vijest" urlName="moja-prva-vijest" path="-1,1056,1062,1066" isDoc="" nodeType="1065" creatorName="Sebastian" writerName="Sebastian" writerID="0" template="1064" nodeTypeAlias="news">
        <pageTitle><![CDATA[Moja prva vijest]]></pageTitle>
        <newsText><![CDATA[<p>ovo je moja prva preksasna vijest</p>]]></newsText>
      </news>
    </newsOverview>
  </home>
</root>