@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="container col-md-8 col-md-offset-2">
    <div class="container-fluid" style="margin:50px auto;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>@CurrentPage.pageTitle</h3>
            </div>
            <div class="panel-body">
                <img src="@CurrentPage.pageImage" alt="@CurrentPage.Name" style="max-width: 50%;float:right;margin-left:10px;margin-bottom:10px;padding:0px;" />
                <div style="word-break: break-all;align:left;">
                    @CurrentPage.bodyText
                </div>
            </div>
        </div>
    </div>
</div>