@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Sponzori>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container col-md-8 col-md-offset-2">
    <div class="container-fluid" style="margin:50px auto;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>@CurrentPage.pageTitle</h3>
            </div>
            <div class="panel-body">
                
                    @CurrentPage.bodyText
                </div>
            </div>
        </div>
    </div>
