@using bkcervar.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    <div class="container col-md-8 col-xs-12 col-sm-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
        <div class="container-fluid" style="margin:50px auto;">
            <div class="panel panel-default">
                <table class="table table-bordered" style="text-align:center; background:white;">


                    <thead class="thead">
                    <th style="text-align: center;">Redni broj</th>
                    <th style="text-align: center;">Ime i prezime igrača</th>
                    <th style="text-align: center;">Reg. broj</th>
                    <th style="text-align: center;">Adresa stanovanja</th>
                    </thead>

                    @{

                        PetaPoco.Database db = new PetaPoco.Database("umbracoDbDSN");


                        var sql = (PetaPoco.Sql.Builder)

                        .Append("SELECT * FROM Igraci4");


                    }

                    @foreach (var a in db.Query<Igrac4>("SELECT * FROM Igraci4"))
                    {

                    <tr>
                        <td>@a.Red_broj</td>
                        <td>@a.ImePrezime</td>
                        <td>@a.Reg_broj</td>
                        <td>@a.Adresa</td>
                    </tr>

                    }



                </table>
            </div>
        </div>
    </div>
}











